#root {
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* Home */
.container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* navbar */
.logo{
  width: 150px;
  height: 150px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}
.navbar ul{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap:20px;
  list-style: none;
}
.navbar ul li a{
  font-size: 20px;
}
/* authentication */
.authContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.authContainer form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding:20px ;
  border-radius: 6px;
  color: #888;
  width: 400px;
}
.authContainer form h2{
  color: black;
  text-align: center;
}

/* Profile */
.profileContainer{
  padding: 20px;
}
.imgConatiner{
  background-image: url('https://i.pinimg.com/1200x/eb/2b/4f/eb2b4fd11ac3847dd4098f3b954ddfd1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #000;

}
.top{
  display: flex;
  gap: 50px;
  align-items: center;
}